body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#spelling-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spelling-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none; /* Remove underline */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.audioButton {
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.audioButton:hover {
    background-color: #0056b3;
}

.night-mode {
    background-color: #333;
    color: #fff;
}

#answers-link {
    color: #fff;
}

#home-link {
    color: #fff;
}

.answers {
    display: none;
}

.chinese {
    font-size: x-large;
}